.busqueda, .carta_img, header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.carta_blogflex, .carta_productos_2, .carta_productos {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.logos {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.hoja, .card_body_mio, .texto_center {
  display: flex;
  flex-direction: column;
}

.carrusel {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  justify-items: center;
}

.boton_border, .boton_borderblue, .boton_bordergreen {
  text-decoration: none;
  width: fit-content;
  padding: 10px 10%;
  margin: 20px 10%;
  text-align: center;
  border-radius: 20px;
  font-size: 14px;
}

.boton_verde {
  width: fit-content;
  padding: 16px 3%;
  justify-content: center;
  border-radius: 30px;
  position: absolute;
}

.titulo_type_blue, .titulo {
  text-align: start;
  padding: 40px 10% 0px 10%;
  font-size: 36px;
}

.texto_type_blue, .texto {
  text-align: start;
  padding: 20px 10%;
  font-size: 16px;
}

.black {
  text-align: center;
  padding: 0% 10%;
  font-size: 16px;
}

.cuadro_azul, .cuadro_verde {
  width: 52%;
  height: 430px;
  display: flex;
  flex-direction: column;
}

.container_flex img, .container_reverse img {
  width: 48%;
  height: 430px;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Montserrat", sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

ul {
  list-style: none;
}

.black {
  color: black;
}

.blog {
  color: black;
  text-decoration: none;
  text-align: start;
}

.margin {
  margin: 1% 5%;
  padding: 5px 0px;
}

article div h2, article div h1 {
  margin: 25px 0px;
}

.carruprod img {
  align-items: center;
  width: 100%;
}

.imagen_portada .msg_portada, .imagen_portada .t-mbl {
  color: black;
  position: absolute;
  text-align: center;
  width: 100%;
  padding: 0 10%;
}

header {
  position: fixed;
  z-index: 10;
  background-color: white;
  width: 100%;
  padding: 5px 4%;
}
header .icono {
  display: block;
  width: 170px;
}
header .icono img {
  height: 40px;
  width: auto;
  margin: 0px 2%;
}
header .nav_links {
  list-style: none;
}
header .nav_links li {
  display: inline-block;
  padding: 0 30px;
}
header .nav_links li a {
  font-size: 16px;
  color: black;
  text-decoration: none;
}

.bg-body-tertiary-mio {
  background-color: none;
}

.navbar-expand-lg {
  width: 80%;
}

.navbar-expand-lg .navbar-collapse {
  display: flex;
  justify-content: space-evenly;
}

.navbar-expand-lg .navbar-nav {
  width: 100%;
  justify-content: space-evenly;
}

.imagen_portada {
  width: 100%;
  height: auto;
}
.imagen_portada img {
  width: 100%;
  height: 100%;
}
.imagen_portada h1 {
  font-size: 60px;
  color: black;
  position: absolute;
  text-align: center;
  width: 100%;
  top: 170px;
  padding: 10% 10%;
}
.imagen_portada .t-mbl {
  font-size: 60px;
  top: 260px;
}
.imagen_portada .boton_verde {
  top: 450px;
  left: 40%;
  font-size: 16px;
}
.imagen_portada .msg_portada {
  font-size: 24px;
  top: 350px;
}

@media (max-width: 576px) {
  header a img {
    justify-content: center;
  }
  .imagen_portada h1 {
    font-size: 20px;
    top: 80px;
  }
  .imagen_portada .t-mbl {
    font-size: 24px;
    top: 100px;
  }
  .imagen_portada .boton_verde {
    font-size: 14px;
    top: 170px;
    left: 26%;
    padding: 10px 5%;
    margin: 10px 2%;
  }
  .imagen_portada .msg_portada {
    font-size: 14px;
    top: 140px;
  }
  .imagen_portada .collapse-mio {
    width: auto;
    height: 200px;
  }
}
.boton_verde {
  background-color: #C2FF85;
}

.boton_bordergreen {
  border: 1px solid #76BF36;
  color: #76BF36;
}

.boton_borderblue {
  border: 1px solid #24A8BC;
  color: #24A8BC;
}

.boton_border {
  border: 1px solid black;
  color: black;
  height: 40px;
  padding: 10px 8%;
}

.texto_center {
  text-align: center;
  font-size: 20px;
  margin: 50px 2% 40px 2%;
  padding: 30px 2%;
  gap: 25px;
}

.titulo_type1 {
  text-align: center;
  color: #76BF36;
  padding: 10px 10%;
  margin: 0px 10%;
  font-size: 32px;
}

.texto_type1 {
  text-align: center;
  color: #76BF36;
  padding: 30px 10%;
  margin: 0px 10%;
  font-size: 18px;
}

.titulo {
  color: #76BF36;
}

.texto {
  color: #76BF36;
}

.titulo_type_blue {
  color: #24A8BC;
}

.texto_type_blue {
  color: #24A8BC;
}

.titulo_blog h1 h2 p ul {
  text-align: start;
  font-size: 30px;
  color: black;
}

.card_mia {
  border: 1px solid black;
  width: 300px;
  height: auto;
  margin: 60px 0%;
}
.card_mia img {
  border-bottom: 1px solid black;
  width: 100%;
  height: auto;
}

.card-titlemio {
  font-size: 18px;
}

.card-textmio {
  font-size: 18px;
}

.card_body_mio {
  padding: 10px 0% 10px 3%;
  gap: 10px;
}

.carta_productos {
  flex-direction: row;
  margin: 50px 7% 100px 7%;
  gap: 20px;
}

.carta_productos_2 {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 50px 7% 100px 7%;
  gap: 20px;
}

.marcas {
  width: 100%;
  height: auto;
  background-color: #F3F3F3;
  padding: 2px 3% 0px 3%;
}

.logos {
  flex-direction: row;
  padding: 0px 5% 80px 5%;
  margin: 0px 1% 60px 1%;
}

.cuadro_verde {
  background-color: #C2FF85;
}

.cuadro_azul {
  background-color: #BBEBF2;
}

.container_reverse {
  display: flex;
  flex-direction: row-reverse;
}
.container_flex {
  display: flex;
}
.fondo_verde {
  background-color: #C2FF85;
  width: 100%;
  margin: 80px 0%;
  padding: 0px 0% 50px 0%;
}

.carta_blog {
  width: 300px;
  height: auto;
  margin: 30px 0%;
}
.carta_blog img {
  width: 100%;
  height: auto;
}

.carta_blogflex {
  flex-direction: row;
  gap: 20px;
}

.carta_img {
  flex-direction: row;
  flex-wrap: wrap;
  margin: 0px 5%;
}

.busqueda {
  flex-direction: row;
  width: 100%;
  height: 200px;
  padding: 180px 5% 80px 5%;
  margin: 0 5%;
}

.mobile {
  display: none;
}

@media (max-width: 576px) {
  .ocultar {
    display: none;
  }
  .mobile {
    display: block;
  }
  h2 {
    font-size: 18px;
  }
  p {
    font-size: 16px;
  }
  .texto_center {
    font-size: 22px;
  }
  .texto_type1 {
    font-size: 16px;
  }
  .card_mia {
    width: 200px;
    margin: 0px 0px;
  }
  .logos img {
    width: 120px;
    height: auto;
  }
  .mobile_flex {
    flex-direction: column;
    width: 100%;
  }
  .mobile_flex img {
    flex-direction: column;
    width: 100%;
  }
  .cuadro_verde {
    width: 100%;
  }
  .cuadro_azul {
    width: 100%;
  }
  .titulo {
    font-size: 24px;
  }
  .titulo_type_blue {
    font-size: 24px;
  }
  .texto {
    font-size: 16px;
  }
  .texto_type_blue {
    font-size: 16px;
  }
  .boton_bordergreen {
    font-size: 12px;
    margin: 2px 10%;
  }
  .boton_borderblue {
    font-size: 12px;
    margin: 2px 10%;
  }
  .busqueda {
    flex-direction: column;
    padding: 10rem 5%;
    margin: 0;
  }
  .busqueda .boton_border {
    height: 40px;
    padding: 10px 25%;
  }
  .carta_blog {
    width: 80%;
  }
  .carta_blog img {
    width: 100%;
    height: 200px;
  }
  .carta_blogflex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .carta_blogflex img {
    width: 100%;
    height: 200px;
  }
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .hoja img {
    height: 100px;
  }
}
.carousel-mio {
  width: 80%;
  height: auto;
  margin: 10%;
}

.carrusel {
  padding: 0px 15%;
}

.fotos {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem 0 5rem 0;
}
.fotos .galeria {
  display: grid;
  grid-template-columns: 330px 330px 330px;
  grid-template-rows: 350px 695px 695px;
  grid-gap: 4rem;
}
.fotos .galeria .img-a {
  grid-column: 1/4;
}
.fotos .galeria .img-a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hoja img {
  object-fit: cover;
  height: 450px;
}

.card-title {
  margin: 0;
}

.footer {
  display: grid;
  grid-template-columns: 2fr 2fr 2fr;
  grid-template-rows: 2fr;
  width: 100%;
  padding: 50px 8%;
  margin-top: 50px;
  line-height: 50px;
  background-color: #FCF9C5;
}

@media (max-width: 576px) {
  .footer {
    grid-template-columns: 2fr;
    grid-template-rows: 4fr 4fr 4fr;
  }
}

/*# sourceMappingURL=style.css.map */
