$boton:(
    border_1: 1px solid black,
    border_2: 1px solid #76BF36,
    border_3: 1px solid #24A8BC,
    bg-c: #C2FF85,
    col-1: black,
    col-2: #76BF36,
    col-3: #24A8BC,
);

$texto:(
    align_c: center,
    align_s: start,
    size-1: 18px,
    size-2: 20px,
    size-3: 32px,
    margin-1: 0px 10%,
    margin-2: 50px 2% 40px 2%,
)