$color_1: black;
$color_2: #76BF36;
$color_3: #24A8BC;
$font-family_1: 'Montserrat', sans-serif;
$background-color_1: white;
$background-color_2: #C2FF85;
$background-color_3: #F3F3F3;
$background-color_4: #BBEBF2;
$background-color_5: #FCF9C5;

